.cart {
  width: 80%;
  padding: 20px;
  .cart-header {
    font-size: 1.3rem;
    font-weight: bold;
    padding-bottom: 1rem;
    display: flex;
    border-bottom: 0.1rem #c0c0c0 solid;
  }
  .proceed-botton {
    width: 100%;
    background-color: $highlightColor;
    color: $baseColor;
    box-shadow: 2px 6px 10px rgba(0,0,0,0.1);
  }
}