.products {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 15px 10px;
  padding: 10px;
}

@media (max-width: 1440px) {
  .products {
    grid-template-columns: auto auto auto;
  }
}

@media (max-width: 1024px) {
  .products {
    grid-template-columns: auto auto;
  }
}

@media (max-width: 420px) {
  .products {
    grid-template-columns: auto;
  }
}