.product-modal {
  .close-button {
    background-color: $baseColor;
    z-index: 1000;
    position: absolute;
    right: 1rem;
    top: 2.5rem;
  }

  .product-details {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-height: 96vh;
    img {
      max-height: 80vh;
      max-width: 40rem;
      margin: 0 auto;
    }
    .product-details-description {
      flex: 1 1;
      margin: 1rem;
    }
  }
}

@media (max-width: 1024px) {
  .product-modal {
    .product-details {
      img {
        max-height: 60vh;
        max-width: 30rem;
      }
      .product-details-description {
        margin: .5rem;
      }
    }
  }
}

@media (max-width: 420px) {
  .product-modal {
    .product-details {
      img {
        max-height: 40vh;
        max-width: 20rem;
      }
      .product-details-description {
        margin: .2rem;
      }
    }
  }
}