.home {
  display: flex;
  // flex-wrap: wrap;
  .main {
    flex: 3;
  }
  .sidebar {
    background-color: #f5f5f5;
    flex: 1;
  }
}

@media (max-width: 420px) {
  .home {
    display: flex;
    flex-direction: column-reverse;
  }  
}

.cart-button {
  background-color: $baseColor;
  position: fixed;
  z-index: 99;
  top: 2.5rem;
  right: 1rem;
}