.home {
  display: flex;
  // flex-wrap: wrap;
  .main {
    flex: 3;
  }
  .sidebar {
    background-color: #f5f5f5;
    flex: 1;
  }
}

.cart-button {
  background-color: $baseColor;
  position: fixed;
  z-index: 100;
  top: 2.5rem;
  right: 1rem;
}